In [1]:
import pandas as pd
import matplotlib.pyplot as plt

nba = pd.read_csv('NBAdata.csv')

original_headers = list(nba.columns.values)
nba.head()

,Rk,Player,Code,Pos,Age,Tm,G,GS,MP,FG,...,FTPerc,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,adamsst01,C,26,OKC,58,58,27.0,4.5,...,0.590,3.4,6.0,9.4,2.4,0.9,1.1,1.5,1.9,10.9
1,2,Bam Adebayo,adebaba01,PF,22,MIA,64,64,34.4,6.2,...,0.691,2.5,8.0,10.6,5.0,1.2,1.3,2.8,2.5,16.1
2,3,LaMarcus Aldridge,aldrila01,C,34,SAS,52,52,33.0,7.3,...,0.829,2.0,5.5,7.5,2.4,0.6,1.6,1.4,2.4,18.8
3,4,Nickeil Alexander-Walker,alexani01,SG,21,NOP,41,0,12.2,1.9,...,0.607,0.2,1.8,2.0,1.8,0.3,0.2,1.0,1.1,5.1
4,5,Grayson Allen,allengr01,SG,24,MEM,30,0,16.6,2.6,...,0.857,0.2,2.0,2.2,1.4,0.2,0.0,0.8,1.2,7.4

In [2]:
x = ['3PA','2PA','ORB','DRB','AST','STL','BLK','TOV','PF','PTS','FTA']
y = ['Pos']

In [3]:
x_feature = nba[x]
y_class = nba[y]

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

x_normalized = preprocessing.normalize(x_feature)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x_normalized, y_class, stratify=y_class, test_size=0.25)

In [6]:
#7NN classifier with w=1/d
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, weights='distance', p=1)

knn.fit(X_train, y_train.values.ravel())

prediction = knn.predict(X_test)
prediction

array(['PF', 'SG', 'PG', 'SF', 'SG', 'C', 'C', 'PG', 'SF', 'PF', 'SG',
       'SG', 'SG', 'SF', 'SF', 'C', 'SF', 'SG', 'SF', 'SG', 'PF', 'PG',
       'PF', 'SF', 'SF', 'PG', 'C', 'SG', 'SG', 'SG', 'PG', 'C', 'SG',
       'SF', 'PF', 'SF', 'SG', 'SG', 'SG', 'C', 'C', 'PG', 'PG', 'PG',
       'PG', 'SG', 'PF', 'C', 'C', 'SF', 'C', 'SG'], dtype=object)

In [7]:
knn.score(X_test, y_test)

0.5576923076923077

In [8]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, x_normalized, y_class.values.ravel(), cv=10)
print(scores)
print(scores.mean())

[0.61538462 0.5        0.51923077 0.57692308 0.45098039 0.39215686
 0.56862745 0.50980392 0.66666667 0.50980392]
0.5309577677224737