In [1]:
import pandas as pd
df = pd.read_csv("JT.csv")
df

# got data from basketball reference website

     WoL     MP  FGPerc  TRB  AST  STL  BLK  TOV  PTS
0      0  36.32   0.417   10    3    0    0    1   14
1      0  36.32   0.429    9    2    1    0    2    8
2      1  32.45   0.375    8    0    0    3    3   15
3      1  31.08   0.600    4    2    4    2    3   22
4      1  27.49   0.500    2    3    1    0    2   12
..   ...    ...     ...  ...  ...  ...  ...  ...  ...
212    1  38.25   0.650   11    3    0    0    2   33
213    0  44.34   0.333   13    5    2    2    5   32
214    1  39.40   0.458    9    6    2    1    4   32
215    0  32.58   0.368    7    3    2    0    3   18
216    0  38.06   0.364    5    3    2    1    3   19

[217 rows x 9 columns]

In [2]:
x = df.drop(['WoL'],axis=1)
y = df["WoL"]

In [3]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=1)

In [4]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(max_iter=1000)

logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [5]:
print(logreg.score(X_train, y_train))
print(logreg.coef_)
print(logreg.intercept_)

0.6923076923076923
[[-0.14156788  0.84470191  0.12269861  0.06343479  0.03187101 -0.03021632
  -0.09556418  0.06837406]]
[2.9407646]

In [6]:
# Perform prediction using the test dataset
y_pred = logreg.predict(X_test)

In [7]:
X_test

        MP  FGPerc  TRB  AST  STL  BLK  TOV  PTS
78   29.15   0.667    4    2    4    0    0   19
33   28.06   0.444    7    2    0    1    1   11
34   34.06   0.600    3    0    2    0    3   17
62   20.45   0.500    3    0    0    1    1    7
97   29.00   0.333    8    0    0    0    0   15
95   23.32   0.455    7    0    0    0    2   10
118  26.57   0.417    4    4    2    0    0   16
194  35.48   0.308   10    4    2    1    4   15
84   34.26   0.444    6    1    1    0    2   24
4    27.49   0.500    2    3    1    0    2   12
58   31.33   0.308    4    2    0    0    0   10
183  36.34   0.435    8    1    0    1    3   24
211  34.26   0.636    4    1    0    2    2   36
171  27.01   0.500   11    3    1    0    4   26
94   37.32   0.615    7    1    2    1    3   21
31   34.00   0.538   10    1    2    2    0   19
127  30.55   0.438    2    3    3    0    3   15
107  28.33   0.571    3    0    2    1    4   22
44   26.49   0.500    5    2    0    1    3   10
154  30.21   0.444    2    3    1    0    2    9
155  33.31   0.467    6    5    1    0    0   19
39   32.43   0.286    4    0    0    0    4    9

In [8]:
y_pred

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0],
      dtype=int64)

In [9]:
from sklearn.metrics import classification_report

In [10]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.67      0.22      0.33         9\n           1       0.63      0.92      0.75        13\n\n    accuracy                           0.64        22\n   macro avg       0.65      0.57      0.54        22\nweighted avg       0.65      0.64      0.58        22\n'

In [11]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [12]:
cnf_matrix = confusion_matrix(y_test, y_pred)
cnf_matrix

array([[ 2,  7],
       [ 1, 12]], dtype=int64)